$icomoon-font-path: "fonts" !default;

$fa-info-circle: "\e90a";
$fa-bug: "\e907";
$fa-globe: "\e908";
$fa-exclamation-triangle: "\e909";
$fa-warning: "\e909";
$fa-eye: "\e906";
$fa-star: "\e900";
$fa-user-secret: "\e901";
$fa-code-fork: "\e902";
$fa-github: "\e903";
$fa-chevron-right: "\e904";
$fa-search: "\e905";

